.grom {
  font-family: 'Fira Sans';
  position: relative;
  width: 100%;
  overflow: hidden;
  color: #000;

  &__header {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    padding: 15px 0;

    &__nav {
      li {
        padding: 0 15px;

        a {
          color: #9f9f9f;

          font-size: 14px;
          line-height: 20px;
          text-decoration: none;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  &__section1 {
    margin-top: 50px;
    min-height: 914px;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 45px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    @include respond(mac) {
      background-image: url('../images/dist/bg1@2.jpg');
    }
    @include respond(tablet) {
      background-image: url('../images/dist/bg1.jpg');
    }

    &__top-link {
      a {
        margin: 0 15px;
        display: block;
        text-decoration: none;
      }
    }

    &__age-rating {
      margin: 0 12px 0 auto;
      width: 44px;
      height: 44px;
      border: 1px solid #fff;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      color: #fff;
      background: rgba(0, 0, 0, 0.5);
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__images {
      display: flex;
      justify-content: center;
      padding-top: 60px;
      padding-bottom: 40px;
    }

    &__text {
      max-width: 905px;
      margin: 0 auto;
      text-align: center;
      color: #fff;

      h1 {
        font-size: 48px;
        line-height: 1.3;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-weight: bold;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 24px;
        margin-top: 0;
      }

      &__label {
        width: 150px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto 15px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
        background: url("../images/dist/bg-films.svg") 50% 50% no-repeat;
        background-size: contain;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      bottom: -75px;
      margin-left: 470px;
      left: 50%;
      background: url("../images/dist/after-bg1.svg") 0 0 no-repeat;
      background-size: contain;
      width: 231px;
      height: 158px;
    }
  }

  &__section2 {
    padding-top: 60px;
    padding-bottom: 30px;

    &__video {
      padding-bottom: 40px;
    }

    &__ps {
      text-align: center;

    }
  }
}

.h2 {
  color: #000;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 30px;
  position: relative;
  z-index: 20;
}

.grom__section3 {
  margin-top: 50px;
  padding-top: 90px;
  padding-bottom: 80px;
  position: relative;
  color: #fff;
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  @include respond(mac) {
    background-image: url('../images/dist/bg3@2.jpg');
  }
  @include respond(tablet) {
    background-image: url('../images/dist/bg3.jpg');
  }

  .h2 {
    color: #fff;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    top: -100px;
    margin-right: 560px;
    right: 50%;
    background: url("../images/dist/after-bg3.svg") 0 0 no-repeat;
    background-size: contain;
    width: 211px;
    height: 262px;
  }

}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  font-weight: 300;
}

.grom__section4 {
  padding-top: 85px;
  border-bottom: 1px solid #d5d5d5;

  &__title {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 30px;
    min-height: 175px;
    background: url('../images/dist/sectr4-t.svg') 50% 50% no-repeat;
    background-size: auto 175px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      text-align: center;
      margin: 0;
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
    }
  }
}

.fpad40 {
  padding-bottom: 40px;
}

.team__item {
  display: flex;
  padding-bottom: 50px;

  &__pic {
    min-width: 265px;
    display: flex;
    justify-content: center;

    &__inner {
      position: relative;
      margin-bottom: auto;

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 10px;
        width: calc(100% - 20px);
        height: 5px;
        background-color: #d5d5d5;
      }

      img {
        display: block;
        position: relative;
        z-index: 2;
      }
    }
  }

  &__desc {
    width: 150px;
    flex-grow: 1;
  }

  &__header {
    padding-bottom: 35px;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      bottom: 17px;
      left: 0;
      width: 40px;
      height: 2px;
      background: #ff0063;
    }
  }

  &__name {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__role {
    color: #737373;
    font-size: 14px;
    line-height: 16px;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.teams__slider {
  position: relative;
  margin-bottom: 90px;

  .swiper {
    overflow: visible;

    &:not(.swiper-initialized) {
      .swiper-slide {
        width: 290px;
      }
    }
  }
}

.team__item__footer {
  padding-top: 25px;
  text-align: center;
}

.grom__section5 {
  padding: 80px 0 100px;

  &__row1 {
    padding-bottom: 35px;
    padding-top: 20px;
  }

  &__pic1 {
    position: relative;
    max-width: 480px;

    img {
      display: block;
      position: relative;
      z-index: 10;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: -80px;
      left: -65px;
      width: 190px;
      height: 191px;
      background: url("../images/dist/sect5-img.svg") 0 0 no-repeat;
      background-size: contain;
    }
  }

  &__pic2 {
    margin-left: -120px;
  }
}

.quote {
  &__header {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    position: relative;

    &__ava {
      min-width: 100px;
      width: 100px;

      img {
        display: block;
      }
    }

    &__desc {
      width: 200px;
      flex-grow: 1;
    }

    &__name {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 8px;
    }

    &__role {
      color: #737373;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__hr {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    &__inner {
      position: relative;
      z-index: 1;
      margin-left: 20px;
      padding: 0 3px;
      width: 30px;

      &::after {
        content: "";
        width: 100vw;
        height: 1px;
        background: #d5d5d5;
        position: absolute;
        z-index: 10;
        bottom: 10px;
        right: 100%;
      }

      &::before {
        content: "";
        width: 100vw;
        height: 1px;
        background: #d5d5d5;
        position: absolute;
        z-index: 10;
        bottom: 10px;
        left: 100%;
      }
    }
  }

  &__body {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
  }
}

.filming {
  padding: 80px 0;
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  @include respond(mac) {
    background-image: url('../images/dist/sectr6@2.jpg');
  }
  @include respond(tablet) {
    background-image: url('../images/dist/sectr6.jpg');
  }

  &__header {
    height: 163px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url("../images/dist/filming-t.svg") 50% 50% no-repeat;
    background-size: auto 163px;

    .h2 {
      color: #fff;
      margin-bottom: 0;
    }
  }

  &__pic {
    padding: 25px 0 45px;
  }

  &__body {
    color: #fff;

    .quote {
      padding-top: 30px;
    }
  }
}

.connection {
  padding: 90px 0 100px;

  &__pic {
    position: relative;
    width: 100%;
    max-width: 840px;
    padding-bottom: 50px;

    img {
      display: block;
    }

    &__min {
      position: absolute;
      z-index: 2;
      bottom: 15px;
      right: -170px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        width: 5px;
        top: 5px;
        height: 100%;
        background: #fff;
        left: -5px;
      }

      img {
        position: relative;
        z-index: 3;
      }
    }
  }

  &__films {
    max-width: 440px;

    &__caption {
      text-align: center;
      padding-top: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__footer {
    &__link {
      display: flex;
      padding-top: 10px;
      justify-content: center;
      color: #fff;
      width: 282px;
      height: 79px;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
      position: relative;

      &__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      &__text {
        z-index: 2;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}

.filming-gallery {
  position: relative;
  background: #fff;

  .swiper-slide {
    width: 320px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 5px 2.5px;

      img {
        display: block;
        width: 100%;
        height: 240px;
        object-fit: cover;
        position: relative;
        z-index: 1;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        border-radius: 35px;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: #ff0063;
        opacity: 0;
        margin: -35px 0 0 -35px;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 384'%3E%3Cpath id='Path' d='M208,0V176H384v32H208V384H176V208H0V176H176V0Z' fill='%23fff'/%3E%3C/svg%3E");
        background-size: 36px auto;
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.grom__section8 {
  padding: 80px 0;
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  min-height: 895px;
  @include respond(mac) {
    background-image: url('../images/dist/bg8@2.jpg');
  }
  @include respond(tablet) {
    background-image: url('../images/dist/bg8.jpg');
  }

  &__header {
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/dist/sectrt8-t.svg") 50% 50% no-repeat;
    background-size: auto 108px;
    margin-bottom: 50px;

    h2 {
      color: #fff;
      margin-bottom: 0;
    }
  }

  &__inner {
    padding: 0 45px;
    color: #fff;

    img {
      display: block;
      margin-bottom: 50px;
    }
  }

  &__hr {
    height: 16px;
    border-top: 1px solid #6c6c6c;
  }
}

.poster {
  padding: 90px 0 100px;

  &__header {
    padding-bottom: 50px;
    text-align: center;
  }

  &__slider {
    position: relative;

    .swiper {
      overflow: visible;
    }

    .swiper-slide {
      width: 265px;
      margin-right: 30px;

      a {
        display: block;
        position: relative;
        width: 100%;

        &::after {
          content: "";
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          width: 70px;
          height: 70px;
          border-radius: 35px;
          display: flex;
          align-items: center;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-color: #ff0063;
          opacity: 0;
          margin: -35px 0 0 -35px;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 384'%3E%3Cpath id='Path' d='M208,0V176H384v32H208V384H176V208H0V176H176V0Z' fill='%23fff'/%3E%3C/svg%3E");
          background-size: 36px auto;
        }

        &:hover {
          &::after {
            opacity: 1;
            visibility: visible;
          }
        }

        img {
          display: block;
          width: 100%;
          height: auto;
          position: relative;
          z-index: 10;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          z-index: 1;
          top: 100%;
          width: calc(100% - 30px);
          left: 15px;
          height: 5px;
          background: #d5d5d5;
        }
      }
    }
  }
}

.shop {
  background: url("../images/dist/shop-bg.jpg") 50% 50% no-repeat;
  background-size: cover;

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 450px;
    padding-right: 100px;
    position: relative;
    z-index: 1;

    .shop__desc {
      width: 400px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 20px;
      right: 465px;
      width: 408px;
      height: 393px;
      background: url("../images/dist/shop-left.png") 50% 50% no-repeat;
      background-size: contain;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 450px;
    padding-left: 100px;
    position: relative;
    z-index: 1;

    .shop__desc {
      width: 400px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 480px;
      width: 454px;
      height: 438px;
      background: url("../images/dist/shop-right.png") 50% 50% no-repeat;
      background-size: contain;
    }
  }

  .shop__desc {
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 10;

    .h2 {
      color: #fff;
    }

    p a {
      font-weight: 500;
      color: #fff;
    }

    .link-btn {
      margin: 35px auto 0;
    }
  }
}

.link-btn {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  width: 200px;
  height: 56px;
  padding-bottom: 5px;

  span {
    display: block;
    position: relative;
    z-index: 10;
    font-size: 18px;
    line-height: 1;
  }

  &:hover {
    color: #fff;
  }

  &__bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    color: #ff0b65;
  }
}

.footer {
  background: #000;
  padding-top: 80px;
  padding-bottom: 45px;

  &__logo {
    padding-bottom: 50px;
  }

  .grom__section1__top-link {
    padding-bottom: 50px;
  }

  &__social {
    &__caption {
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: url("../images/dist/social.svg") 50% 50% no-repeat;
      background-size: auto 72px;
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 1;
      font-weight: bold;
    }

    &__list {
      padding-bottom: 45px;
      align-items: center;

      li {
        padding: 0 15px;

        a {
          display: block;
          text-decoration: none;
          color: #fff;

          &:hover {
            color: #fff;
            opacity: 0.8;
          }
        }
      }
    }
  }

  &__bottom {
    text-align: center;
    color: #d1d1d1;
    font-size: 13px;
    line-height: 20px;
  }
}

.swiper-button-disabled {
  display: none !important;
}

.slider-buttons {
  display: none
}


.slider-buttons__button {
  width: 52px;
  height: 57px;
  background-color: #ff0063;
  border: none;
  color: #fff;
  transform: perspective(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 20;
  top: 50%;
  margin-top: -35px;
}

.slider-buttons__button:hover {
  background-color: #df0257;
  transform: rotateY(.1deg)
}

.slider-buttons__button:focus {
  background-color: #df0257
}

.slider-buttons__button_disabled {
  display: none;
}

.slider-buttons__button_disabled[aria-disabled=true] {
  transform: rotateY(.1deg);
  background-color: #202126
}

.slider-buttons__button_previous {
  left: -25px;
  transform: perspective(100px) rotateY(-12deg)
}

.slider-buttons__button_next {
  right: -25px;
  transform: perspective(100px) rotateY(12deg)
}

.connection__footer__link .connection__footer__link__bg {
  color: #ff0063;
}
.connection__footer__link:hover .connection__footer__link__bg,
.link-btn:hover .link-btn__bg {
  color: #df0257;
}

